/*-- BORDERS --*/
// Function for calculating padding with borders

@function bordered-button-padding ($border-thickness){
	 @return 1 - ($border-thickness / $base) + em;
}

@function small-bordered-button-padding ($border-thickness){
	 @return 0.5 - ($border-thickness / $base) + em;
}

@function large-bordered-button-padding ($border-thickness){
	 @return 2 - ($border-thickness / $base) + em;
}


// Buttons with a bottom border

// 1 pix bottom border
@function bottom-bordered-button-padding-1 ($border-thickness){
	 @return 1 - ($border-thickness / $base) + em;
}


.bottom-border1px {
	border-bottom-style : solid;
	border-bottom-width : 1px;
	padding-top: bottom-bordered-button-padding-1(0.5px);
	padding-bottom: bottom-bordered-button-padding-1(0.5px);
}

// 2 pix bottom border
@function bottom-bordered-button-padding-2 ($border-thickness){
	 @return 1 - ($border-thickness / $base) + em;
}


.bottom-border2px {
	border-bottom-style : solid;
	border-bottom-width : 2px;
	padding-top: bottom-bordered-button-padding-2(1px);
	padding-bottom: bottom-bordered-button-padding-2(1px);
}

// BUTTONS WITH BORDERS SHOULD HAVE A 2PX
// BORDER WHICH ADDS 0.25EM TO THE HEIGHT
// AND WIDTH. REDUCE THE HEIGHT BACK TO
// BASELINE METRICS BY REMOVING IT FROM
// THE PADDING

// NB! THIS DOESN'T WORK WELL ON 'INPUT TYPE = BUTTON'

// 16 MINUS BORDER THICKNESS DIVIDED BY 16 = PADDING
// SASS CALCULATIONS IN STYLE.SCSS

.border0px {
	border-style : solid;
	border : 0;
	font-size : 1em;
	line-height : 1em;
	padding: 1em!important;
}

.large.border0px {
	border-style : solid;
	border : 0;
	padding: 2em!important;
}

.border1px {
	border-style : solid;
	border-width : 1px;
	font-size : 1em;
	line-height : 1em;
	padding: bordered-button-padding(1px) /*0.9375em*/;
}

.border2px {
	border-style : solid;
	border-width : 2px;
	font-size : 1em;
	line-height : 1em;
	padding: bordered-button-padding(2px); /*-- 0.75em --*/
}

.border4px {
	border-style : solid;
	border-width : 4px;
	font-size : 1em;
	line-height : 1em;
	padding: bordered-button-padding(4px);
}

.border8px {
	border-style : solid;
	border-width : 8px;
	font-size : 1em;
	line-height : 1em;
	padding: bordered-button-padding(8px);
}


.small.border1px {
	padding: small-bordered-button-padding(1px);
}

.small.border2px {
	padding: small-bordered-button-padding(2px);
}

.small.border4px {
	padding: small-bordered-button-padding(4px);
}


.large.border1px {
  padding: large-bordered-button-padding(1px);
}

.large.border2px {
  padding: large-bordered-button-padding(2px);
}

.large.border4px {
  padding: large-bordered-button-padding(4px);
}

.large.border8px {
  padding: large-bordered-button-padding(8px);
}

// 1 px 'shadow' border on bottom

.border-bottom {

}


/*-- Border Radius--*/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

// Usage:
// @include border-radius(top left, top right, bottom right, bottom left);

// Or with vendors mixin (located in _vendors.scss):
// @include vendor-prefixes(border-radius, $radius);

@mixin border-radius($radius) {
  border-radius: $radius;
  @include vendor-prefixes(border-radius, $radius);
}


// Individual corners

// Top border radius
@mixin border-top-radius($radius) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

// Usage:
// @include border-top-radius(5px);


// Left border radius
@mixin border-left-radius($radius) {
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}

// Usage
// @include border-left-radius(5px);

// Bottom border radius
@mixin border-bottom-radius($radius) {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

// Usage:
// @include border-bottom-radius(5px);

// Right border radius
@mixin border-right-radius($radius) {
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}

// Usage
// @include border-right-radius(5px);
