//PADDING CLASSES

.padding0-5em {
	padding : 1em;
}


.padding1-0em {
	padding : 1em;
}

.padding2-0em {
	padding : 2em;
}


// PADDINGS
// Usage example: @include paddingTL(0.5);
// The 0.5 is multiplied by 16 (i.e 1 $baseUnit)
// == padding-top:8px, padding-left:8px

//This might be overkill :/


// T: Top
// R: right
// B: Bottom--*/
// L: Left--*/


// 4 sides							TRBL
// 3 sides - no top					RBL
// 3 sides - no bottom				TRL
// 3 sides - no left				TRB
// 3 sides - no right				TBL
// 
// 2 sides - no left no right		TB
// 2 sides - no top no bottom		RL
// 2 sides - no top no left			RB
// 2 sides - no bottom no left		TR
// 2 sides - no top no right		BL
// 2 sides - no bottom no right		TL
// 
// 1 side - top						T
// 1 side - right					R
// 1 side - bottom					B
// 1 side - left					L


@mixin paddify($padding...){
	padding : $padding;
}

@mixin margify($margin...){
	margin : $margin;
}


@mixin paddingTRBL($times) {
    padding : $baseUnit * $times $baseUnit* $times $baseUnit* $times $baseUnit* $times;
  }

@mixin paddingRBL($times) {
    padding : 0 $baseUnit * $times $baseUnit* $times $baseUnit* $times;
  }
  
@mixin paddingTRL($times) {
    padding : $baseUnit * $times $baseUnit * $times 0 $baseUnit* $times;
  }
  
@mixin paddingTRB($times) {
    padding : $baseUnit * $times $baseUnit * $times $baseUnit* $times 0;
  }
  
@mixin paddingTBL($times) {
    padding : $baseUnit * $times 0 $baseUnit * $times $baseUnit* $times;
  }
  
@mixin paddingTB($times) {
    padding : $baseUnit * $times 0 $baseUnit * $times 0;
  }
  
@mixin paddingRL($times) {
    padding : 0 $baseUnit * $times 0 $baseUnit * $times;
  }
  
@mixin paddingRB($times) {
    padding : 0 $baseUnit * $times $baseUnit * $times 0;
  }
  
@mixin paddingTR($times) {
    padding : $baseUnit * $times $baseUnit * $times 0 0;
  }
  
@mixin paddingBL($times) {
    padding : 0 0 $baseUnit * $times $baseUnit * $times;
  }
  
@mixin paddingTL($times) {
    padding : $baseUnit * $times 0 0 $baseUnit * $times;
  }
@mixin paddingT($times) {
    padding : $baseUnit * $times 0 0 0;
  }
  
@mixin paddingR($times) {
    padding : 0 $baseUnit * $times 0 0;
  }
  
@mixin paddingB($times) {
    padding : 0 0 $baseUnit * $times 0;
  }
  
@mixin paddingL($times) {
    padding : 0 0 0 $baseUnit * $times;
  }