/*-- BLOCKQUOTE --*/

blockquote {
  margin: 2em 2em 0.5em 2em;
}

blockquote p {
	font-size: 2em;
	font-style: italic;
	margin-bottom : 1em;
}

blockquote footer {
	p {color : #000; font-size : 1em;}
	cite {
		margin-left : 0.5em;
		color : #000;
		a {color : #000;}
	}
	margin-bottom : 4em;
}
