/*-- BUTTONS --*/
input[type=submit],
input[type=reset],
input[type=button],
input[type=image],
button {
line-height:1em;
background-color: $grey;
padding : 1em;
border : 0;
vertical-align: middle;
color : $black;
border-color : darken($grey,20);
text-align : center;
@include border-radius(0.25em);
}


input[type=reset]:hover,
input[type=button]:hover,
input[type=submit]:hover,
input[type=image]:hover,
button:hover {
	border-color : $black;
	//background-color: darken($mediumGrey,10);
	background-color : $grey_dark;
	color: $white;
	//@extend .border1px;
}

input[type=reset]:active,
input[type=button]:active,
input[type=submit]:active,
input[type=image]:active,
button:hover {
	border-color : $black;
	//background-color: darken($mediumGrey,10);
	background-color : $grey_dark;
	color: $white;
		//@extend .border1px;
}


/*-- CLASSED SELECTORS --*/

/*-- VARIED EMPHASIS--*/
/*-- BOLD TEXT --*/

.bold {
	font-weight: bold;
}


/*-- VARIED SIZES --*/

.small {
	padding: 0.5em;
}

.large {
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	padding: 2em;
}


.active {
	background-color: $blue;
	color: #fff;
}

/*-- DISABLED --*/

input[type=button]:disabled, .disabled, .disabled:hover {
	background-color: #000;
	color: #999;
	opacity: 0.3;
	text-decoration: line-through;
}


/*-- PILLGROUPS --*/

// NB! The pillGroup class is for
// the span wrapper of the buttons

.pillGroup {
	display: inline-block;
	@include border-radius(0.3125em);
}


.pillGroup button, .pillGroup input[type=button],.pillGroup a {
	@extend .border1px;
	border-top : 0;
	border-bottom : 0;
	border-left : 0;
	border-right : 0;
	margin-left : 1px;
	margin-top : 1px;
	margin-bottom : 1px;
	border-radius : 0;
}

.pillGroup button:first-child, .pillGroup a:first-child {
 @include border-left-radius(0.25em);
}

.pillGroup button:last-child, .pillGroup a:last-child {
 border-right : 0px;
 margin-right : 1px;
 @include border-right-radius(0.25em);
}

/*-- SELECTED --*/
.selected {
	@extend .grey_dark;
}


/*-- WITH SHADOW --*/

.shadow {
@include box-shadow(0px,1px,1px,0, rgba(0,0,0,0.25), false);
}


/*-- WITH A LABEL SPAN --*/
.buttonLabel {
	line-height : 1em;
}



//link-as-button
.linkAsButton,
.linkAsIconButton,
.linkAsIconButtonLabel {
	text-decoration: none;
	line-height : 1.0em;
	@extend .grey;
	padding : 1em;
	display : inline-block;
}


.linkAsButton {
//	@extend .button;
}

.linkAsIconButton {
	span {
		padding-right: 0;
		font-size: 0.875em;
	}
}

.linkAsIconButtonLabel {
	span {
		padding-right: 0.5em;
		font-size: 0.875em;
	}
}

.linkAsButton:hover,
.linkAsIconButton:hover,
.linkAsIconButtonLabel:hover {
	@extend button:hover;
}

/*-- JUST WITH AN ICON - NO LABEL --*/

.iconButton {
	span {
		padding-right : 0;
		position : relative;
		top : 0.0625em;
	}
}

/*-- A links as a tab/iconbutton --*/
a.linkTextButton {
}

a.linkIconButton {
	span {
		position: relative;
		padding-right : 0;
		top : 0.125em;
	}
}

a.linkIconTextButton {
	span {
		position: relative;
		padding-right : 0.5em;
	}
}

a.linkTextButton,
a.linkIconButton,
a.linkIconTextButton {
	text-decoration: none;
	line-height : 1.0em;
	padding : 1.0em;
}


a.linkTextButton:hover,
a.linkIconButton:hover,
a.linkIconTextButton:hover {
	@extend button:hover;
}
