/* DETAILS */

// GIVE EVERYTHING INSIDE THE DETAILS 1EM PADDING

details {
  margin-bottom : 1em;
  @extend .white;
  //@extend .border2px;
  padding-bottom : 0;
    div {
      border-top : solid 1px $lightGrey;
      padding : 1em;
    }
}

summary {
  padding:0.625em;
  font-size : 1em;
  line-height : 1.5em;
  @extend %clearfix;
    span {
	  float : right;
	  color : $mediumGrey;
	  font-size : 1em;
	}

}

details::-webkit-details-marker,
summary::-webkit-details-marker {
  color : $mediumGrey;
}
