/*-- MODALS --*/
.modalUnderlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 300;
  background: rgba(0,0,0,0.7);
}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  transform: translateX(-50%) translateY(-50%);
}

.hello {
  
}
