@font-face {
  font-family: 'Roboto-300';
  font-weight: 300;
  font-style: normal;
  src: url('../../FontBank/Roboto-300/Roboto-300.eot');
  src: url('../../FontBank/Roboto-300/Roboto-300.eot?#iefix') format('embedded-opentype'),
       local('Roboto Light'),
       local('Roboto-300'),
       url('../../FontBank/Roboto-300/Roboto-300.woff2') format('woff2'),
       url('../../FontBank/Roboto-300/Roboto-300.woff') format('woff'),
       url('../../FontBank/Roboto-300/Roboto-300.ttf') format('truetype'),
       url('../../FontBank/Roboto-300/Roboto-300.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto-400';
  font-weight: 400;
  font-style: normal;
  src: url('../../FontBank/Roboto-regular/Roboto-regular.eot');
  src: url('../../FontBank/Roboto-regular/Roboto-regular.eot?#iefix') format('embedded-opentype'),
       local('Roboto'),
       local('Roboto-regular'),
       url('../../FontBank/Roboto-regular/Roboto-regular.woff2') format('woff2'),
       url('../../FontBank/Roboto-regular/Roboto-regular.woff') format('woff'),
       url('../../FontBank/Roboto-regular/Roboto-regular.ttf') format('truetype'),
       url('../../FontBank/Roboto-regular/Roboto-regular.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto-500';
  font-weight: 500;
  font-style: normal;
  src: url('../../FontBank/Roboto-500/Roboto-500.eot');
  src: url('../../FontBank/Roboto-500/Roboto-500.eot?#iefix') format('embedded-opentype'),
       local('Roboto Medium'),
       local('Roboto-500'),
       url('../../FontBank/Roboto-500/Roboto-500.woff2') format('woff2'),
       url('../../FontBank/Roboto-500/Roboto-500.woff') format('woff'),
       url('../../FontBank/Roboto-500/Roboto-500.ttf') format('truetype'),
       url('../../FontBank/Roboto-500/Roboto-500.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto-700';
  font-weight: 700;
  font-style: normal;
  src: url('../../FontBank/Roboto-700/Roboto-700.eot');
  src: url('../../FontBank/Roboto-700/Roboto-700.eot?#iefix') format('embedded-opentype'),
       local('Roboto Bold'),
       local('Roboto-700'),
       url('../../FontBank/Roboto-700/Roboto-700.woff2') format('woff2'),
       url('../../FontBank/Roboto-700/Roboto-700.woff') format('woff'),
       url('../../FontBank/Roboto-700/Roboto-700.ttf') format('truetype'),
       url('../../FontBank/Roboto-700/Roboto-700.svg#Roboto') format('svg');
}


*{
	font-family: 'Roboto', sans-serif;
}


/*-- Headers -----------------------*/
// Use only full and half 'ems'


h1,h2,h3,h4,h5 {
vertical-align:baseline;
margin-bottom : 1rem;
}

h1 {
font-size:3em;
line-height:1.0em;
}


h2 {
font-size:2.0em;
line-height:1.0em;
}


h3 {
font-size:2.0em;
font-weight:normal;
line-height:1.0em;
}

h4 {
font-size:1.0em;
text-transform:uppercase;
line-height:1.5em;
}

h5 {
margin-bottom:0px;
line-height:2.0em;
}


p {
margin:0px 0px 2em 0px;
max-width: 40em;
}


header {
margin-bottom:1em;
vertical-align : sub;
}

header p {
font-size:1.0em;
color:#666;
line-height:1em;
}

// Affect the p's within a header group

header h1 + p {
	line-height:1.5em;
	padding-bottom:1em;
	font-size:2em;
	max-width : 20em;
}

header h2 + p {
	line-height:1em;
	padding-bottom:1em;
	font-size:1.5em;
}


header h3 + p {
	line-height:1.0em;
	padding-bottom:1em;
	font-size:1.0em;
}

header h4 + p {
	line-height:1.0em;
	padding-bottom:1em;
	font-size:1.0em;
}



/*-- FONT STYLES --*/

.italic {
  font-style : italic;
}

/*-- HINTS --*/

.hint {
  margin : 0;
  padding : 0;
}
