@import 'partials/all';
@import 'normalise/all';
@import 'defaults/all';
@import 'toc';


*, *:before, *:after
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
	position: absolute;
}

body {
	/*
  background: $grey_superDark;
	@include cover-background('../images/bg005.png');
	*/
	background-size: cover;
}

p {
	margin: 2em;
}
h1 {
	font-size: 2em;
	color: $grey_mediumDark;
	font-style: italic;
	font-weight: normal;
	text-align: center;
	margin : 0 2em;
}

h1 span {
	font-family: "Roboto-300";
	font-size: .75em;
}


section {
	max-width: 75%;
	margin: auto;
	padding-top : 10em;
	height : 100vh;

	@include flexbox();
	.c,.d {
		@include flex(1);
	}
}


div.resource {
	border-bottom: solid 1px $grey_light;
	margin: 0 2em;
	@include flexbox();
	div {
		padding : 1em;
		padding-left: 0;
	}
}

div.resource div:first-child {
	@include flex(0);
}

.resourceDetail h2 {
	font-size: 1em;
	line-height: 1em;
	margin : 0;
}

.resourceDetail p {
	font-size: 1em;
	margin : 0;
	line-height: 1em;
	color: $grey_dark;
}

a.resourceLink {
	color : $blue;
	text-decoration: none;
}

a.resourceLink:hover {
	color : $blue;
	text-decoration: underline;
}

a.resourceLink:visited {
	color : $blue;
}

.a {
	width : 3em;
	background-color: $blue;
	margin-top : 4em;
	@include border-left-radius(1em);
	@include border-bottom-radius(0px);
	background: linear-gradient(90deg, $blue 65%, $blue_dark);
	@include box-shadow(1px,1px,48px,0, rgba(0,0,0,0.75), false);
}

.b {
	width : 1em;
	margin-top : 2em;
	@include border-left-radius(0.5em);
	@include border-bottom-radius(0px);
	background-color: #e6e7e7;
	background: linear-gradient(90deg, $grey_extraLight 70%, $grey);
}

.c {
	@include border-right-radius(3em);
	@include border-left-radius(0.5em);
	@include border-bottom-radius(0px);
	background: linear-gradient(90deg, $grey_superLight, $grey_superLight 85%, $grey_light);
}

.d {
	@include border-left-radius(3em);
	@include border-right-radius(0.5em);
	@include border-bottom-radius(0px);
	background-color: $grey_superLight;
	//background: linear-gradient(90deg, $grey_mediumDark 1%, $grey 2%, $grey_light, $grey_superLight 5%);
}

.e {
	width : 1em;
	@include border-right-radius(0.5em);
	@include border-bottom-radius(0px);
	margin-top : 1em;
	background: linear-gradient(90deg, $grey, $grey_light 15%, $grey_superLight);
}

.f {
	width : 1em;
	@include border-right-radius(0.5em);
	@include border-bottom-radius(0px);
	margin-top : 2em;
	background: linear-gradient(90deg, $grey, $grey_extraLight 30%, $grey_superLight);
}

.g {
		width : 1em;
		@include border-right-radius(0.5em);
		@include border-bottom-radius(0px);
		margin-top : 3em;
		background: linear-gradient(90deg, $grey, $grey_extraLight 30%, $grey_superLight);
}

.h {
		width : 1em;
		@include border-right-radius(1em);
		@include border-bottom-radius(0px);
		background-color: $blue;
		margin-top : 4em;
		background: linear-gradient(90deg, $blue_dark 5%, $blue);
		@include box-shadow(8px,-0px,48px,0, rgba(0,0,0,0.75), false);
}

/*-------- MEDIA QUERIES --------*/
@media (max-width: 1150px) {
	section {
		max-width: 95%;
	}

	hr {
		margin-left: 2em;
		margin-right: 2em;
	}
}

@media (max-width: 960px) {

.a,.b,.e,.f,.g,.h {
	display: none;
}

.c,.d {
	@include border-radius(0.5em);
	padding-bottom : 4em;
}

.d {
	background: linear-gradient(90deg, $grey_superLight, $grey_superLight 85%, $grey_light);
}

p {
	margin: 1em;
}

section {
	@include flex-direction(column);
	max-width: 96%;
 }
}
