.tableOfContents {
  margin-top : 4em;
  h3 {
    text-align: center;
    font-weight: normal;
    font-size: 1.5em;
  }
  h4 {
    text-align: center;
    font-weight: normal;
    margin: 0;
    margin-top : 2em;
    line-height: 1em;
  }
}
.tableOfC {
    width : 80%;
    min-width: 20em;
    margin: auto;
    @include flexbox();
    @include justify-content(space-between);
}

.topic {
  @include flex(0);
  white-space: nowrap;
  @include align-self(flex-end);
  span {
    position: relative;
    top : 6px;
    padding-right: 1em;
  }
}

.ellipses {
  @include flex(1);
  min-width: 4em;
  border-bottom: dotted 4px #ccc;
}


.pageNum {
  @include flex(0);
  @include align-self(flex-end);
  span {
    position: relative;
    top : 8px;
    padding-left: 1em;
  }
}
